.container-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-products .product {
    width: 250px;
    height: 320px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.container-products .product img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-products .product .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.container-products .product .price {
    font-size: 14px;
    color: #09f;
    margin-top: 5px;
    text-align: left;
}

.container-products .product .link-details {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #09f;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.container-products .product .link-details:hover {
    background-color: #0080ff;
}

.container-products .product .link-details:active {
    scale: 0.95;
    box-shadow: 3px 3px 3px black;
}