.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
}

.product-details .price {
    font-size: 1.1rem;
    width: 500px;
    text-align: left;
    margin-bottom: 0.5rem;
}

.product-details .title {
  color: gray;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px black;
}

.product-details .product-name {
  color: gray;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px black;
}

.product-details img {
    height: 500px;
    width: 500px;
    margin-bottom: 1rem;
    border: 1px solid rgb(219, 214, 214);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(219, 214, 214);
}

.product-details .description {
    font-size: 1rem;
    width: 500px;
    text-align: left;
    margin-bottom: 1rem;
}

.buttons-details-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(219, 214, 214);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(219, 214, 214);
    padding: 1rem;
    width: 500px;
}

.product-details .comprar {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: green;
    color: white;
}

.product-details .comprar:hover {
    background-color: rgb(10, 145, 10);
}

.product-details .comprar:active {
    scale: 0.95;
    box-shadow: 3px 3px 3px black;
}

.product-details .retornar {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(145, 10, 10);
    color: white;
}

.product-details .retornar:hover {
    background-color: rgb(175, 12, 12);
}

.product-details .retornar:active {
    scale: 0.95;
    box-shadow: 3px 3px 3px black;
}
